.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // pointer-events: none;
  z-index: 9999;
  .modal {
    background: repeating-radial-gradient(transparent, rgba(0, 0, 0, 0.3));
    width: 400px;
    min-height: 200px;
    height: auto;
    margin: 100px auto;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .item {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
    }
    .app-item {
      background-color: #fff;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .app-item:hover {
      transform: scale(1.2);
    }
    .app-item--mini-wrap {
      box-sizing: border-box;
      overflow: hidden;
      width: 33.3%;
      height: 31%;
      border-right: 3px solid transparent;
      border-top: 3px solid transparent;
    }
    .app-item--mini-wrap:nth-child(3n + 3) {
        border-right: none;
    }
    .app-item--mini-wrap:nth-child(-n+3) {
      border-top: none;
    }
    .app-item--mini {
      background-color: #fff;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      transition: transform 0.1s ease-in-out;
    }
    .app-item--mini:hover {
      transform: scale(1.3);
      background-color: rgb(171, 223, 226);
    }

    .app-container {
      box-sizing: border-box;
      background: repeating-radial-gradient(transparent, rgba(0, 0, 0, 0.3));
      transition: transform 0.3s ease-in-out;
      width: 80px;
      min-height: 80px;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow: auto;
    }
    .app-container::-webkit-scrollbar {
      display: none;
    }

    .app-container:hover {
        transform: scale(2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
  }
}
