.sider {
  height: 100%;
  background-color: rgba(32, 33, 35, var(--tw-bg-opacity)) !important;
  & .wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    & .new-chat-btn {

    }
    & .chat-list-container {
      flex: 1;
    }
  }
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}