@import url('@/styles/color.less');

.reverse {
    flex-direction: row-reverse;
}

.wrap {
    display: flex;
    padding: 8px;
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    .chat-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .chat-container-main {
            margin-top: 10px;
            display: flex;
            .text {
                --tw-bg-opacity: 1;
                padding: 12px;
                border-radius: 0.375rem;
                color: @theme-text-color;
                background-color: @theme-bg-color;
                word-break: break-word;
                max-width: calc(100% - 50px);
            }
        }
    }
    .action {
        color: @theme-sub-text-color;
        display: flex;
    }
    .avatar {
        width: 50px;
        box-sizing: border-box;
        text-align: center;
    }
}